<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>We will right back!</h1>
	<p>FUCK OFF</p>

	Да, сам обажаю этот вопрос)
Ок, надеюсь, что все ок 
</body>
</html>
